<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">My Store Returns</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/customers']"><i class="fa fa-users"></i> Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']"><i class="fa fa-shopping-basket"></i> Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/owners']"><i class="fa fa-address-card"></i> Owners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/faults']"><i class="fa fa-exclamation-circle"></i> Faults</a>
        </li>
      </ul>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/add-new']"><i class="fa fa-plus"></i> Add New</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-report"></i> Reports</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/']">Trend Analysis</a></li>
              <li><a class="dropdown-item" [routerLink]="['/']">Returns Register</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-user"></i> Users</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/']">Profile</a></li>
              <li><a class="dropdown-item" [routerLink]="['/']">Add New User</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/']">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
