/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.shadow-custom {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
