<form class="row row-cols-lg-auto g-3 mb-3 align-items-center">
  <div class="col-6">
    <div class="input-group">
      <span class="input-group-text">Filter</span>
      <div class="text"></div>
      <input type="text" class="form-control" placeholder="Customer/Product">
    </div>
  </div>

  <div class="col-6">
    <select class="form-select" (change)="toggleNoDate($event)">
      <option selected></option>
      <option value="documentDate">Document Date</option>
      <option value="batchDate">Batch Date</option>
    </select>
  </div>

  <div class="col-6" [class.invisible]="noDateInvisible">
    <div class="form-check">
      <input class="form-check-input" (change)="toggleDocDate()" [checked]="noDateChecked" type="checkbox">
      <label class="form-check-label">
        No Date
      </label>
    </div>
  </div>

  <div class="col-6" [class.invisible]="docDateInvisible">
    <label>Doc Date - </label>
  </div>

  <div class="col-6">
    <div class="input-group">
      <span class="input-group-text">From</span>
      <input type="date" class="form-control" />
    </div>
  </div>

  <div class="col-6">
    <div class="input-group">
      <span class="input-group-text">To</span>
      <input type="date" class="form-control" />
    </div>
  </div>

  <div class="col-6">
    <button (click)="search()" type="submit" class="btn btn-secondary">Search <i class="fa fa-search"></i></button>
  </div>

</form>

<table class='table table-striped'>
  <thead>
    <tr class="table-primary">
      <th>Doc. Date</th>
      <th>Customer Name</th>
      <th>Product Name</th>
      <th>QTY on Doc</th>
      <th>Batch Date</th>
      <th>Owner</th>
      <th>Fault Description</th>
      <th>Doc. Number</th>
      <th>QTY Returned</th>
      <th colspan="2" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let return of returns">
      <td>{{return?.docDate | date}}</td>
      <td>{{return?.customer}}</td>
      <td>{{return?.product}}</td>
      <td class="text-center">{{return?.qtyOnDoc}}</td>
      <td>{{return?.batchDate}}</td>
      <td>{{return?.owner}}</td>
      <td>{{return?.fault}}</td>
      <td>{{return?.docNo}}</td>
      <td class="text-center">{{return?.qtyReturned}}</td>
      <td><button class="btn-primary btn"><i class="fa fa-edit"></i></button></td>
      <td><button class="btn-danger btn"><i class="fa fa-trash"></i></button></td>
    </tr>
  </tbody>
</table>

  <div class="row">
    <div class="col-md-12 mb-3">
      <button type="button" class="btn-secondary btn col-12">Load Outstanding Returns</button>
    </div>
  </div>


