<h2>Add New Return</h2>
<hr />

<div class="center shadow-custom mb-3">
  <div class="container">
    <form>
      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Customer</label>
          <div class="input-group">
            <input class="form-control" list="customerDataList">
            <datalist id="customerDataList">
              <option value="Spar">
              <option value="Checkers">
              <option value="Shoprite">
              <option value="Engen">
              <option value="Woolworths">
            </datalist>
            <button class="btn btn-outline-secondary" [routerLink]="['/customer-detail']" type="button">+</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Product</label>
          <div class="input-group">
            <input class="form-control" list="productDatalist">
            <datalist id="productDatalist">
              <option value="Milk">
              <option value="Bread">
              <option value="Eggs">
            </datalist>
            <button class="btn btn-outline-secondary" [routerLink]="['/product-detail']" type="button">+</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label class="form-label">Qty on Document</label>
          <input type="number" min="0" class="form-control">
        </div>

        <div class="mb-3 col-6">
          <label class="form-label">Qty Returned</label>
          <input type="number" min="0" class="form-control">
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <div class="input-group mb-3">
            <div class="input-group-text">
              <span class="me-3">No Batch Date</span>
              <input class="form-check-input mt-0" type="checkbox" (change)="toggleBatch()" value="">
            </div>
            <input type="date" [disabled]="batchDateToggle" class="form-control">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Owner</label>
          <div class="input-group">
            <input class="form-control" list="ownerDatalist">
            <datalist id="ownerDatalist">
              <option value="John">
              <option value="Mary">
              <option value="Paul">
            </datalist>
            <button class="btn btn-outline-secondary" [routerLink]="['/owner-detail']"  type="button">+</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Fault</label>
          <div class="input-group">
            <input class="form-control" list="faultDatalist">
            <datalist id="faultDatalist">
              <option value="Mouldy">
              <option value="Sour">
              <option value="Expired">
            </datalist>
            <button class="btn btn-outline-secondary" [routerLink]="['/fault-detail']"  type="button">+</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label class="form-label">External Document No.</label>
          <input type="text" class="form-control">
        </div>

        <div class="mb-3 col-6">
          <label class="form-label">Document Date</label>
          <input type="date" class="form-control">
        </div>


      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label class="form-label">Investigate / Resolved</label>
          <select class="form-select">
            <option selected value="1">Resolved</option>
            <option value="2">Investigate</option>
          </select>
        </div>
      </div>

      <div class="mb-3 col-12">
        <label class="form-label">Comment</label>
        <textarea class="form-control" rows="3" maxlength="255"></textarea>
      </div>


      <div class="row">
        <div class="col-md-12 mb-3">
          <button type="button" [routerLink]="['/']" class="btn-outline-danger btn col-6"><i class="fa fa-cancel"></i> Cancel</button>
          <button type="submit" class="btn-outline-success btn col-6"><i class="fa fa-save"></i> Save</button>
        </div>
      </div>

    </form>
  </div>
</div>


