<h2>Add New Return</h2>
<hr />

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="center shadow-custom mb-3">
    <div class="container">

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Customer</label>
          <div *ngIf="custIdFromTemplate == 'Not Found'" class="invalid-feedback d-block mb-3">{{custIdFromTemplate}}</div>
          <div class="input-group">
            <input #customerValue
                   type="text"
                   class="form-control"
                   [ngbTypeahead]="searchCust"
                   [inputFormatter]="custFormatter"
                   [resultFormatter]="custFormatter"
                   [editable]="true"
                   formcontrolName="getCustomer"
                   (blur)="getModel(customerValue.value, 'customerType')" />
            <button class="btn btn-outline-secondary" [routerLink]="['/customer-detail']" type="button">+</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Product</label>
          <div *ngIf="prodIdFromTemplate == 'Not Found'" class="invalid-feedback d-block mb-3">{{prodIdFromTemplate}}</div>
          <div class="input-group">
            <input #prodValue
                   type="text"
                   class="form-control"
                   [ngbTypeahead]="searchProd"
                   [inputFormatter]="prodFormatter"
                   [resultFormatter]="prodFormatter"
                   [editable]="false"
                   formcontrolName="product"
                   (blur)="getModel(prodValue.value, 'productType')" />
            <button class="btn btn-outline-secondary" [routerLink]="['/product-detail']" type="button">+</button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="mb-3 col-6">
          <label class="form-label">Qty on Document</label>
          <input formControlName="qtyOnDoc" type="number" min="0" class="form-control">
        </div>

        <div class="mb-3 col-6">
          <label class="form-label">Qty Returned</label>
          <input formControlName="qtyReturned" type="number" min="0" class="form-control">
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <div class="input-group mb-3">
            <div class="input-group-text">
              <span class="me-3">No Batch Date</span>
              <input class="form-check-input mt-0" type="checkbox" #batchChecked (change)="toggleBatch(); batchDateBox.value = ''">
            </div>
            <input formControlName="batchDate" type="date" #batchDateBox [readonly]="batchChecked.checked == true ? true : false" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-12">
            <label class="form-label">Owner</label>
            <div *ngIf="ownerIdFromTemplate == 'Not Found'" class="invalid-feedback d-block mb-3">{{ownerIdFromTemplate}}</div>
            <div class="input-group">
              <input #ownerValue
                     type="text"
                     class="form-control"
                     [ngbTypeahead]="searchOwner"
                     [inputFormatter]="ownerFormatter"
                     [resultFormatter]="ownerFormatter"
                     [editable]="false"
                     formcontrolName="owner"
                     (blur)="getModel(ownerValue.value, 'ownerType')" />
              <button class="btn btn-outline-secondary" [routerLink]="['/owner-detail']" type="button">+</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-12">
            <label class="form-label">Fault</label>
            <div *ngIf="faultIdFromTemplate == 'Not Found'" class="invalid-feedback d-block mb-3">{{faultIdFromTemplate}}</div>
            <div class="input-group">
              <input #faultValue
                     type="text"
                     class="form-control"
                     [ngbTypeahead]="searchFault"
                     [inputFormatter]="faultFormatter"
                     [resultFormatter]="faultFormatter"
                     [editable]="false"
                     formcontrolName="fault"
                     (blur)="getModel(faultValue.value, 'faultType')" />
              <button class="btn btn-outline-secondary" [routerLink]="['/fault-detail']" type="button">+</button>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="mb-3 col-6">
            <label class="form-label">External Document No.</label>
            <div *ngIf="getDocNo.invalid && (getDocNo.touched || getDocNo.dirty)" class="invalid-feedback d-block">
              <div *ngIf="getDocNo.errors?.['required']">Document Number is required</div>
            </div>
            <input formControlName="docNo" type="text" class="form-control">
          </div>

          <div class="mb-3 col-6">
            <label class="form-label">Document Date</label>
            <div *ngIf="getDocDate.invalid && (getDocDate.touched || getDocDate.dirty)" class="invalid-feedback d-block">
              <div *ngIf="getDocDate.errors?.['required']">Document Date is required</div>
            </div>
            <input formControlName="docDate" type="date" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-6">
            <label class="form-label">Investigate / Resolved</label>
            <select formControlName="resolved" class="form-select">
              <option value=true>Resolved</option>
              <option value=false>Investigate</option>
            </select>
          </div>
        </div>

        <div class="mb-3 col-12">
          <label class="form-label">Comment</label>
          <textarea formControlName="comment" class="form-control" rows="3" maxlength="255"></textarea>
        </div>

        <div class="invalid-feedback d-block mb-3" *ngIf="formInvalid.length > 0">
          {{formInvalid}}
        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <button type="button" [routerLink]="['/']" class="btn-outline-danger btn col-6"><i class="fa fa-cancel"></i> Cancel</button>
            <button type="submit" class="btn-outline-success btn col-6"><i class="fa fa-save"></i> Save</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>

