<h2>Add New Return</h2>
<hr />

<!--Modals-->
<ng-template #custContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Customer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newCustomerForm">

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Customer Name</label>
          <div *ngIf="customerIdFromModal == customerAlreadyExists && customerModalValue.value != ''" class="invalid-feedback d-block mb-3">{{customerIdFromModal}}</div>
          <div class="input-group">
            <input #customerModalValue
                   type="text"
                   class="form-control"
                   formControlName="customerName"
                   (keyup)="customerExists(customerModalValue.value)" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Email Address</label>
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   formControlName="email" />
          </div>
        </div>
      </div>

      <div class="mb-3 col-12">
        <label class="form-label">Address</label>
        <textarea formControlName="address"
                  class="form-control" rows="3"
                  maxlength="255"></textarea>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Short Code</label>
          <div *ngIf="customerShortCodeFromTemplate == customerShortCodeAlreadyExists" class="invalid-feedback d-block">{{customerShortCodeFromTemplate}}</div>
          <input #customerShortCodeValue
                 type="text"
                 class="form-control"
                 formControlName="shortCode"
                 (keyup)="customerShortCodeExists(customerShortCodeValue.value)">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #prodContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Product</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newProductForm">

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Product Name</label>
          <div *ngIf="productIdFromModal == productAlreadyExists && productModalValue.value != ''" class="invalid-feedback d-block mb-3">{{productIdFromModal}}</div>
          <div class="input-group">
            <input #productModalValue
                   type="text"
                   class="form-control"
                   formControlName="productName"
                   (keyup)="productExists(productModalValue.value)" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label class="form-label">Price</label>
          <div class="input-group mb-3">
            <div class="input-group-text">
              <span class="me-3">R</span>
            </div>
            <input type="number" step="0.5" min="0" class="form-control" formControlName="price">
          </div>
        </div>

        <div class="mb-3 col-6">
          <label class="form-label">Weight</label>
          <div class="input-group mb-3">
            <input type="number" step="0.5" min="0" class="form-control" formControlName="weight">
            <div class="input-group-text">
              <span class="me-3">Kg</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Short Code</label>
          <div *ngIf="productShortCodeFromTemplate == productShortCodeAlreadyExists" class="invalid-feedback d-block">{{productShortCodeFromTemplate}}</div>
          <input #productShortCodeValue
                 type="text"
                 class="form-control"
                 formControlName="shortCode"
                 (keyup)="productShortCodeExists(productShortCodeValue.value)">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #ownerContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Owner</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newOwnerForm">

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Owner First Name</label>
          <div *ngIf="newOwnerForm.controls.ownerFirstName.touched && ownerModalValue.value == ''" class="invalid-feedback d-block mb-3">
            <div *ngIf="newOwnerForm.controls.ownerFirstName.errors?.['required']">Owner First Name is required</div>
          </div>
          <div class="input-group">
            <input #ownerModalValue
                   type="text"
                   class="form-control"
                   formControlName="ownerFirstName"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Owner Last Name</label>
          <div *ngIf="ownerModalValue.value != ''" class="invalid-feedback d-block mb-3">{{ownerIdFromModal}}</div>
          <div class="input-group">
            <input #ownerModalValue
                   type="text"
                   class="form-control"
                   formControlName="ownerLastName" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #faultContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Fault</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newFaultForm">

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Fault Name</label>
          <div *ngIf="faultIdFromModal == faultAlreadyExists && faultModalValue.value != ''" class="invalid-feedback d-block mb-3">{{faultIdFromModal}}</div>
          <div class="input-group">
            <input #faultModalValue
                   type="text"
                   class="form-control"
                   formControlName="faultName"
                   (keyup)="faultExists(faultModalValue.value)" />
          </div>
        </div>
      </div>

      <div class="mb-3 col-12">
        <label class="form-label">Description</label>
        <textarea formControlName="description"
                  class="form-control" rows="3"
                  maxlength="255"></textarea>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<!--Modals-->

<form [formGroup]="form" (ngSubmit)="save()">
 
  <div class="center shadow-custom mb-3">
    <div class="container">
      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Customer</label>
          <div *ngIf="custIdFromTemplate == notFound && customerValue.value != ''" class="invalid-feedback d-block mb-3">{{custIdFromTemplate}}</div>
          <div *ngIf="custIdFromTemplate == 'none'" class="invalid-feedback d-block mb-3">Please enter an existing customer</div>
          <div class="input-group">
            <input #customerValue
                   type="text"
                   class="form-control"
                   [ngbTypeahead]="searchCust"
                   [inputFormatter]="custFormatter"
                   [resultFormatter]="custFormatter"
                   [editable]="true"
                   formControlName="customer"
                   (blur)="getModel(customerValue.value, 'customerType')" />
            <button class="btn btn-outline-secondary" (click)="openCustomerModal(custContent)" type="button">+</button>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Product</label>
          <div *ngIf="prodIdFromTemplate == 'Not Found' && prodValue.value != ''" class="invalid-feedback d-block mb-3">{{prodIdFromTemplate}}</div>
          <div *ngIf="prodIdFromTemplate == 'none'" class="invalid-feedback d-block mb-3">Please enter an existing product</div>
          <div class="input-group">
            <input #prodValue
                   type="text"
                   class="form-control"
                   [ngbTypeahead]="searchProd"
                   [inputFormatter]="prodFormatter"
                   [resultFormatter]="prodFormatter"
                   [editable]="false"
                   formControlName="product"
                   (blur)="getModel(prodValue.value, 'productType')" />
            <button class="btn btn-outline-secondary" (click)="openProductModal(prodContent)" type="button">+</button>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="mb-3 col-6">
          <label class="form-label">Qty on Document</label>
          <input formControlName="qtyOnDoc" type="number" min="0" class="form-control">
        </div>

        <div class="mb-3 col-6">
          <label class="form-label">Qty Returned</label>
          <input formControlName="qtyReturned" type="number" min="0" class="form-control">
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <div class="input-group mb-3">
            <div class="input-group-text">
              <span class="me-3">No Batch Date</span>
              <input class="form-check-input mt-0" type="checkbox" #batchChecked (change)="toggleBatch(); batchDateBox.value = ''">
            </div>
            <input formControlName="batchDate" type="date" #batchDateBox [readonly]="batchChecked.checked == true ? true : false" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-12">
            <label class="form-label">Owner</label>
            <div *ngIf="ownerIdFromTemplate == 'Not Found' && ownerValue.value != ''" class="invalid-feedback d-block mb-3">{{ownerIdFromTemplate}}</div>
            <div *ngIf="ownerIdFromTemplate == 'none'" class="invalid-feedback d-block mb-3">Please enter an existing owner</div>
            <div class="input-group">
              <input #ownerValue
                     type="text"
                     class="form-control"
                     [ngbTypeahead]="searchOwner"
                     [inputFormatter]="ownerFormatter"
                     [resultFormatter]="ownerFormatter"
                     [editable]="false"
                     formControlName="owner"
                     (blur)="getModel(ownerValue.value, 'ownerType')" />
              <button class="btn btn-outline-secondary" (click)="openOwnerModal(ownerContent)" type="button">+</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-12">
            <label class="form-label">Fault</label>
            <div *ngIf="faultIdFromTemplate == 'Not Found' && faultValue.value != ''" class="invalid-feedback d-block mb-3">{{faultIdFromTemplate}}</div>
            <div *ngIf="faultIdFromTemplate == 'none'" class="invalid-feedback d-block mb-3">Please enter an existing fault</div>
            <div class="input-group">
              <input #faultValue
                     type="text"
                     class="form-control"
                     [ngbTypeahead]="searchFault"
                     [inputFormatter]="faultFormatter"
                     [resultFormatter]="faultFormatter"
                     [editable]="false"
                     formControlName="fault"
                     (blur)="getModel(faultValue.value, 'faultType')" />
              <button class="btn btn-outline-secondary" (click)="openFaultModal(faultContent)" type="button">+</button>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="mb-3 col-6">
            <label class="form-label">External Document No.</label>
            <div *ngIf="getDocNo.invalid && (getDocNo.touched || getDocNo.dirty)" class="invalid-feedback d-block">
              <div *ngIf="getDocNo.errors?.['required']">Document Number is required</div>
            </div>
            <input formControlName="docNo" type="text" class="form-control">
          </div>

          <div class="mb-3 col-6">
            <label class="form-label">Document Date</label>
            <div *ngIf="getDocDate.invalid && (getDocDate.touched || getDocDate.dirty)" class="invalid-feedback d-block">
              <div *ngIf="getDocDate.errors?.['required']">Document Date is required</div>
            </div>
            <input formControlName="docDate" type="date" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-6">
            <label class="form-label">Investigate / Resolved</label>
            <select formControlName="resolved" class="form-select">
              <option value=true>Resolved</option>
              <option value=false>Investigate</option>
            </select>
          </div>
        </div>

        <div class="mb-3 col-12">
          <label class="form-label">Comment</label>
          <textarea formControlName="comment" class="form-control" rows="3" maxlength="255"></textarea>
        </div>

        <div class="invalid-feedback d-block mb-3" *ngIf="formInvalid.length > 0">
          {{formInvalid}}
        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <button type="button" [routerLink]="['/']" class="btn-outline-danger btn col-6"><i class="fa fa-cancel"></i> Cancel</button>
            <button type="submit" class="btn-outline-success btn col-6"><i class="fa fa-save"></i> Save</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>

