<h2>Owners</h2>
<hr />

<div style="float:right" class="mx-5">
  <ngb-toast *ngIf="showToast" header="Info" [autohide]="false" (hidden)="showToast=false" style="z-index: 100; position: absolute;">
    {{messageFromDetail}}
  </ngb-toast>
</div>

<form class="row g-3 align-items-center">
  <div class="col-10">
    <div class="input-group">
      <div class="text"></div>
      <input type="text" class="form-control" placeholder="Owner...">
    </div>
  </div>

  <div class="col-2">
    <button type="submit" class="btn btn-secondary">Search <i class="fa fa-search"></i></button>
  </div>

</form>

<br />

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th class="col-5">Owner First Name</th>
      <th class="col-5">Owner Last Name</th>
      <th class="col-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of ownerList">
      <td>{{o.firstName}}</td>
      <td>{{o.lastName}}</td>
      <td>
        <button class="btn-primary btn me-3" [routerLink]="['/owner-detail', o.id]"><i class="fa fa-edit"></i></button>
        <button class="btn-danger btn"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<div class="row col-12">
  <button type="button" class="btn btn-secondary" [routerLink]="['/owner-detail']"><i class="fa fa-plus"></i> Add New Owner</button>
</div>





