<h2>Edit</h2>
<hr />




<form [formGroup]="form" (ngSubmit)="update()">
  <div class="center shadow-custom mb-3">
    <div class="container">
      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Customer</label>
          <div *ngIf="customer.invalid && (customer.touched || customer.dirty)" class="invalid-feedback d-block">
            <div *ngIf="customer.errors?.['required']">Customer is required</div>
          </div>
          <div class="input-group">
            <input formControlName="customer" class="form-control" list="customerDataList" value="{{return.customer}}">
            <datalist id="customerDataList">
              <option value="Spar" id="1">
              <option value="Checkers">
              <option value="Shoprite">
              <option value="Engen">
              <option value="Woolworths">
            </datalist>
            <button class="btn btn-outline-secondary" [routerLink]="['/customer-detail']" type="button">+</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Product</label>
          <div *ngIf="product.invalid && (product.touched || product.dirty)" class="invalid-feedback d-block">
            <div *ngIf="product.errors?.['required']">Product is required</div>
          </div>
          <div class="input-group">
            <input formControlName="product" class="form-control" list="productDatalist" value="{{return.product}}">
            <datalist id="productDatalist">
              <option value="Milk">
              <option value="Bread">
              <option value="Eggs">
            </datalist>
            <button class="btn btn-outline-secondary" [routerLink]="['/product-detail']" type="button">+</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label class="form-label">Qty on Document</label>
          <input formControlName="qtyOnDoc" type="number" min="0" class="form-control" value="{{return.qtyOnDoc}}">
        </div>

        <div class="mb-3 col-6">
          <label class="form-label">Qty Returned</label>
          <input formControlName="qtyReturned" type="number" min="0" class="form-control" value="{{return.qtyReturned}}">
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <div class="input-group mb-3">
            <div class="input-group-text">
              <span class="me-3">No Batch Date</span>
              <input class="form-check-input mt-0" type="checkbox" #batchChecked (change)="toggleBatch()" [checked]="return.batchDate == null ? true : false">
            </div>
            <input formControlName="batchDate" type="date" #batchDateBox [readonly]="batchChecked.checked == true ? true : false" class="form-control" [value]="return.batchDate | date:'yyyy-MM-dd'">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Owner</label>
          <div class="input-group">
            <input formControlName="owner" class="form-control" list="ownerDatalist" value="{{return.owner}}">
            <datalist id="ownerDatalist">
              <option value="John">
              <option value="Mary">
              <option value="Paul">
            </datalist>
            <button class="btn btn-outline-secondary" [routerLink]="['/owner-detail']" type="button">+</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Fault</label>
          <div class="input-group">
            <input formControlName="fault" class="form-control" list="faultDatalist" value="{{return.fault}}">
            <datalist id="faultDatalist">
              <option value="Mouldy">
              <option value="Sour">
              <option value="Expired">
            </datalist>
            <button class="btn btn-outline-secondary" [routerLink]="['/fault-detail']" type="button">+</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label class="form-label">External Document No.</label>
          <div *ngIf="docNo.invalid && (docNo.touched || docNo.dirty)" class="invalid-feedback d-block">
            <div *ngIf="docNo.errors?.['required']">Document Number is required</div>
          </div>
          <input formControlName="docNo" type="text" class="form-control" value="{{return.docNo}}">
        </div>

        <div class="mb-3 col-6">
          <label class="form-label">Document Date</label>
          <div *ngIf="docDate.invalid && (docDate.touched || docDate.dirty)" class="invalid-feedback d-block">
            <div *ngIf="docDate.errors?.['required']">Document Date is required</div>
          </div>
          <input formControlName="docDate" type="date" class="form-control" [value]="return.docDate | date:'yyyy-MM-dd'">
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label class="form-label">Investigate / Resolved</label>
          <select formControlName="resolved" class="form-select">
            <option *ngIf="return.resolved == true" value=true>Resolved</option>
            <option *ngIf="return.resolved == false" value=false>Investigate</option>
            <option *ngIf="return.resolved == true" value=false>Investigate</option>
            <option *ngIf="return.resolved == false" value=true>Resolved</option>
          </select>
        </div>
      </div>

      <div class="mb-3 col-12">
        <label class="form-label">Comment</label>
        <textarea formControlName="comment" class="form-control" rows="3" maxlength="255">{{return.comment}}</textarea>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <button type="button" [routerLink]="['/']" class="btn-outline-danger btn col-6"><i class="fa fa-cancel"></i> Cancel</button>
          <button type="submit" class="btn-outline-success btn col-6"><i class="fa fa-save"></i> Save</button>
        </div>
      </div>

    </div>
  </div>
</form>






