<h2>Faults</h2>
<hr />

<form class="row g-3 align-items-center">
  <div class="col-10">
    <div class="input-group">
      <div class="text"></div>
      <input type="text" class="form-control" placeholder="Fault...">
    </div>
  </div>

  <div class="col-2">
    <button type="submit" class="btn btn-secondary">Search <i class="fa fa-search"></i></button>
  </div>

</form>

<br />

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr class="table-primary">
      <th class="col-10">Fault Name</th>
      <th class="col-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mouldy</td>
      <td>
        <button class="btn-primary btn me-3" [routerLink]="['/fault-detail']"><i class="fa fa-edit"></i></button>
        <button class="btn-danger btn"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
    <tr>
      <td>Sour</td>
      <td>
        <button class="btn-primary btn me-3" [routerLink]="['/fault-detail']"><i class="fa fa-edit"></i></button>
        <button class="btn-danger btn"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
    <tr>
      <td>Expired</td>
      <td>
        <button class="btn-primary btn me-3" [routerLink]="['/fault-detail']"><i class="fa fa-edit"></i></button>
        <button class="btn-danger btn"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>






