<!--<div *ngIf="customerId == 0">
<h3>Add New Customer</h3>
<hr />

<div class="center shadow-custom mb-3">
  <div class="container">
    <form>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Customer Name</label>
          <input class="form-control" list="customerDataList">
          <datalist id="customerDataList">
            <option value="Spar">
            <option value="Checkers">
            <option value="Shoprite">
            <option value="Engen">
            <option value="Woolworths">
          </datalist>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Email</label>
          <input type="email" class="form-control">
        </div>
      </div>

      <div class="mb-3 col-12">
        <label class="form-label">Address</label>
        <textarea class="form-control" rows="3" maxlength="100"></textarea>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <button type="button" [routerLink]="['/']" class="btn-outline-danger btn col-6"><i class="fa fa-cancel"></i> Cancel</button>
          <button type="submit" class="btn-outline-success btn col-6"><i class="fa fa-save"></i> Save</button>
        </div>
      </div>

    </form>
  </div>
</div>
</div>
<div *ngIf="customerId > 0">
<h3>Customer Details</h3>
<hr />

<div class="center shadow-custom mb-3">
  <div class="container">
    <form>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Customer Name</label>
          <input class="form-control" list="customerDataList">
          <datalist id="customerDataList">
            <option value="Spar">
            <option value="Checkers">
            <option value="Shoprite">
            <option value="Engen">
            <option value="Woolworths">
          </datalist>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-12">
          <label class="form-label">Email</label>
          <input type="email" class="form-control">
        </div>
      </div>

      <div class="mb-3 col-12">
        <label class="form-label">Address</label>
        <textarea class="form-control" rows="3" maxlength="100"></textarea>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <button type="button" [routerLink]="['/']" class="btn-outline-danger btn col-6"><i class="fa fa-cancel"></i> Cancel</button>
          <button type="submit" class="btn-outline-success btn col-6"><i class="fa fa-save"></i> Save</button>
        </div>
      </div>

    </form>
  </div>
</div>
</div>-->





